div#home {
  width: 500px;
  height: 90px;
  margin: 53px 0 0 0;
}
ul#Menu1 li {
  float: left;
  width: 220px;
  border-top: 1px solid #dddddd;
  margin: 0px 20px 0 0px;
  padding: 8px 0px 4px 0px;
  display: table-cell;
}

.ragapaclosemebox { border: 0 none; position: absolute; width: 20px; height: 75px; bottom:0; margin-bottom: 0px; left:0; background: url('http://d636bn4g8u8yp.cloudfront.net/ragapa/www/images/device/static/closeme.gif') #FFFFFF bottom left no-repeat; cursor: pointer; filter:alpha(opacity=100); } #ragapapoweredby { border: 0 none; text-align: right; margin-bottom: 0px; width: 140px; height: 20px; position: absolute; bottom:0px; right:15px; z-index: 1000000; font-size: 11px; font-family:Arial,Verdana,sans-serif; font-weight: bolder; font-variant: normal; color: #999; background: url('http://d636bn4g8u8yp.cloudfront.net/ragapa/www/images/device/static/alldeals.gif') bottom right no-repeat; } #ragapaSearchBarDiv{ position: static; margin: 0 0 0 0; padding: 0 0 0 0; } #ragapaSearchBar { clear: both; position: absolute; display:inline; width: auto; height: 21px; bottom: 0px; left: 0px; margin: 5px 45px 5px 3%; z-index: 999998; border: 1px solid #D5D5D5; background: #000000; color: #FFFFFF; filter:alpha(opacity=70); opacity: 0.7; -moz-opacity:0.7; } #ragapaSearchContent { height: 17px; width: 100px; font-family: Arial,Verdana,sans-serif; font-weight: bold; font-size: 12px; border: none; color: #FFFFFF; background: #000000; filter:alpha(opacity=70); opacity: 0.7; -moz-opacity:0.7; vertical-align: middle; text-align: left; z-index: 999999; } #ragapaSearchButton { border: none; width: 80px; height: 20px; vertical-align: middle; padding: 0 0 0 0; margin: 0 0 0 0; } #ragapaBottomDiv { border: 0 none; width: 100%; height: 90px; position: fixed; bottom:0; margin-bottom: 0px; margin-top: 0px; left:0; display: none;  _top: expression( ( - 95 + ( document.documentElement.clientHeight ? document.documentElement.clientHeight : document.body.clientHeight ) + ( ignoreMe = document.documentElement.scrollTop ? document.documentElement.scrollTop : document.body.scrollTop ) ) + 'px' ); _position: absolute; _height: 85px; _width: expression( ( (document.documentElement.clientWidth ? document.documentElement.clientWidth : document.body.clientWidth ) -1 ) + 'px'); _overflow: hidden; } #ragapabottomtransparency { border: 0 none; width: 100%; height: 90px; position: fixed; bottom:0; margin-bottom: 0px; margin-top: 10px; left:0; background-color: #000000; color: #FFFFFF; filter:alpha(opacity=70); opacity: 0.7; -moz-opacity:0.7; } .ragapaBottomImage { border: 0 none; position: absolute; width: 100%; height: 90px; bottom: 0px; margin: 0px; vertical-align: center; left: 0px; filter:alpha(opacity=100); text-align: center; z-index: 999998; } #ragapaiframe { border: 0 none; position: relative; width: 520px; height: 65px; margin: 0px 0px 5px 0px; vertical-align: center; filter:alpha(opacity=100); z-index: 999998; background-color: #FFFFFF; text-align: center; overflow: hidden; } #ragapatop { margin: auto; text-align: center; top: -3px; width: 95%; position: relative; border:1px solid #999999; padding: 5px 15px 5px 10px; z-index: 999998; } .ragapaBottomImage a img, .ragapaBottomImage img { border: 1px solid #D5D5D5; vertical-align: center; margin: auto; filter:alpha(opacity=100); } html { padding-bottom:80px; }  * Defines default content styling
 */
 div#header {
  width: 940px;
  float: left;
  height: 200px;
  padding: 25px 0 8px 0;
  border-bottom: 2px solid #333333;
}

user agent stylesheetdiv {
  display: block;
}
Inherited from 
html, body, body div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, figure, footer, header, hgroup, menu, nav, section, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

Inherited from 
body {
  font-size: 12px;
  font-family: Helvetica, Arial, sans-serif;
  color: #666;
}
body, select, input, textarea {
  color: #333;
}
body {
  font: 13px MyriadPro, sans-serif;
}

Pseudo ::selection element
*::selection {
  background: rgb(190, 190, 190);
}
::selection {
  background: #fcd700;
  color: #fff;
  text-shadow: none;
}


/**/
body
{
    font-size: 12px;
    font-family: Helvetica, Arial, sans-serif;
    color: #666;
}


*::selection {
	background: rgb(190, 190, 190);
}
*::-moz-selection {
	background: rgb(190, 190, 190);
}


body.NewestArticleHolder li.newest_item_block  {
    margin: 0;
    padding: 4px 0 0 0;
    border-bottom: 2px solid #e9e9e9;
    height:94px;
}
body.NewestArticleHolder li.newest_item_block a {
    color:#999999;
    padding: 0 0 5px 0;
}
body.NewestArticleHolder li.newest_item_block.highlight_half a { 
    color:#525252;
}
body.NewestArticleHolder li.newest_item_block.highlight_full a {
   color: #f13d3d;
}
body.NewestArticleHolder li.newest_item_block.highlight_full a span.author {
   color: #525252;
}

body.NewestArticleHolder li.newest_item_block a {
    display:block;
    
}


#tag_list_specific_height {
    margin: 8px 0 28px 0;
}

#tag_list li {
    margin: 2px 0 0px 0;

}

div#home {
    width:500px;
    height: 90px;
    margin: 53px 0 0 0;
}


.ReturnLink {
    margin: 0 0 12px 0;
}


 body {
     padding:0;
     margin:0;     
 }
 
 div#mainframe {
    width: 940px;
    float:left;
    position: relative;
    left: 50%;
    margin-left: -470px;
    background-color: #ffffff;

}

div#header {
    width:1000px;
    height: 200px;
    padding: 25px 0 8px 0;
    border-bottom: 2px solid #333333;
    
}

div#left_column, div#mid_column  {
    width:220px;
    float:left;
    margin: 50px 20px 0 0px;
    padding: 0px 0 0 0;
    border-top: 2px solid #e9e9e9;    
}*/

div#mid_column  {
    width:220px;
}

div#photo_column {
    width:230px;
    float:left;
    margin: 50px 0px 0 0px;
    padding: 0px 0 0 0;
    
}

div#main_column {
    width:700px;
    float:left;
    margin: 100px 0px 30px 0;
    
}

div#footer {
    width:940px;
    float:left;
    height: 70px;
    padding: 0px 0 0 0;
    
}

div#Collection {
    width:720px;
    float:left;
    margin: 0 0;
    
}

div.rotator {
  position:relative;
  height:400px;
    background: transparent url('../images/Backgroundbs/image_filler.gif') repeat 0 0;
    overflow: hidden;
}


article, aside, figure, footer, header, hgroup, nav, section {display: block;}

/*/* Responsive images and other embedded objects
   Note: keeping IMG here will cause problems if you're using foreground images as sprites.
   If this default setting for images is causing issues, you might want to replace it with a .responsive class instead. */
object,
embed {max-width: 100%;}

/* force a vertical scrollbar to prevent a jumpy page */
html {overflow-y: scroll;}

/* we use a lot of ULs that aren't bulleted. 
  don't forget to restore the bullets within content. */
ul {list-style: none;}

blockquote, q {quotes: none;}

blockquote:before, 
blockquote:after, 
q:before, 
q:after {content: ''; content: none;}

a {margin: 0; padding: 0; font-size: 100%; vertical-align: baseline; background: transparent;}

del {text-decoration: line-through;}

abbr[title], dfn[title] {border-bottom: 1px dotted #000; cursor: help;}

/* tables still need cellspacing="0" in the markup */
table {border-collapse: collapse; border-spacing: 0;}
th {font-weight: bold; vertical-align: bottom;}
td {font-weight: normal; vertical-align: top;}

hr {display: block; height: 1px; border: 0; border-top: 1px solid #ccc; margin: 1em 0; padding: 0;}

input, select {vertical-align: middle;}

pre {
  white-space: pre; /* CSS2 */
  white-space: pre-wrap; /* CSS 2.1 */
  white-space: pre-line; /* CSS 3 (and 2.1 as well, actually) */
  word-wrap: break-word; /* IE */
}

input[type="radio"] {vertical-align: text-bottom;}
input[type="checkbox"] {vertical-align: bottom; *vertical-align: baseline;}
.ie6 input {vertical-align: text-bottom;}

select, input, textarea {font: 99% sans-serif;}

table {font-size: 1em;}
 

a:hover, a:active {outline: none;}

small {font-size: 85%;}

strong, th {font-weight: bold;}

td, td img {vertical-align: top;} 

sub, sup {font-size: 75%; line-height: 0; position: relative;}
sup {top: -0.5em;}
sub {bottom: -0.25em;}


pre, code, kbd, samp {font-family: monospace, sans-serif;}


.clickable,
label, 
input[type=button], 
input[type=submit], 
button {cursor: pointer;}

button, input, select, textarea {margin: 0;}


button {width: auto; overflow: visible;}

.ie7 img {-ms-interpolation-mode: bicubic;}


.ie6 html {filter: expression(document.execCommand("BackgroundImageCache", false, true));}


.clearfix:before, .clearfix:after { content: "\0020"; display: block; height: 0; overflow: hidden; }  
.clearfix:after { clear: both; }  
.clearfix { zoom: 1; }  
*/


body {font: 13px MyriadPro, sans-serif;}


body, select, input, textarea {color: #333;}

a {color: #222222;
   text-decoration: none;}
a:hover {
   text-decoration: none;
   color:#f13d3d;}


::-moz-selection{background: #fcd700; color: #fff; text-shadow: none;}
::selection {background: #fcd700; color: #fff; text-shadow: none;} 

a:link {-webkit-tap-highlight-color: #fcd700;} 

ins {background-color: #fcd700; color: #000; text-decoration: none;}
mark {background-color: #fcd700; color: #000; font-style: italic; font-weight: bold;}

.typography {
    margin: 0 0 0 0;
    padding: 0 0 0 0;
}

.typography * {
    font-size: 12px;
    font-family: Helvetica, Arial, sans-serif;
}


.typography p.big_quote {
    background: transparent url(../images/Icons/big_quote.gif) no-repeat 0 0;
    padding: 10px 0 0 50px;
    color: #999999;
    font-size: 1.2em;
    font-weight: bold;
    font-style: italic;
    line-height:130%;
    text-transform: uppercase;
    border-top: 2px solid #E9E9E9;
}


.typography a { 
    text-decoration: none; 
}
.typography a:hover { 
    text-decoration: underline;
    color: #777;
}


